@page "/reports"
@model CarSpeedDataApp.Pages.ReportsModel

<form method="get">
    <label for="minSpeed">Minimum Speed:</label>
    <input type="number" id="minSpeed" name="minSpeed" asp-for="MinSpeed" />

    <label for="fromDate">From Date:</label>
    <input type="date" id="fromDate" name="fromDate" asp-for="FromDate" asp-format="{0:yyyy/MM/dd}" />

    <label for="toDate">To Date:</label>
    <input type="date" id="toDate" name="toDate" asp-for="ToDate" asp-format="{0:yyyy/MM/dd}" />

    <button type="submit" name="showResults">Show results</button>
    <input type="hidden" name="pageNumber" value="1" />
</form>

@if (Request.Query.ContainsKey("showResults") || Request.Query.ContainsKey("pageNumber"))
{
    <div>
        <br>
        <hr>
    </div>

    <div class="total-count">
        @if (Model.TotalItems > 0)
        {
            <p>Total found: @Model.TotalItems</p>
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Speed</th>
                <th>Car Registration Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carData in Model.FilteredCarData)
            {
                <tr>
                    <td>@carData.Date</td>
                    <td>@carData.Speed</td>
                    <td>@carData.CarRegNo</td>
                </tr>
            }
        </tbody>
    </table>
 
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link"
                       asp-page="/Reports"
                       asp-route-pageNumber="@i"
                       asp-route-minSpeed="@Model.MinSpeed.ToString()"
                       asp-route-fromDate="@Model.FromDate.ToString("yyyy-MM-dd")"
                       asp-route-toDate="@Model.ToDate.ToString("yyyy-MM-dd")">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
}